.title-category{
  background-color: rgba(226, 226, 226, 0.397);
  padding: 1rem 2rem;
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 2rem;

}

.card-label{
  width: auto;
}


.MuiCardContent-root {
  height: fit-content;
  overflow-y: hidden;
}


.MuiCardContent-root{
  height: 15rem;
  
  
}

.MuiTypography-body2{

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.MuiCardMedia-root{
  height: 12rem;
}

.root-card{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}