@import 'src/styles/vars';


.MuiPaper-root.MuiAppBar-root.MuiAppBar-colorPrimary {
  background-color: $color-primary;
}

.styled.button {

  background: local;
  color: white;
  background-color: #E04644; //$color-background; // #DB8848;
  transition: all 0.2s;
  &:hover {
    background-color: #E04644 ;//#FBAF74;
    //transform: translateY(2px);
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.MuiToolbar-root .MuiSvgIcon-root{
  color: white;
}

.MuiAppBar-root{
  background-color: #F50057;
}

.group-btn-icon{
  display: flex;
  align-items: center;
}

.responsive-log-btn{
  display: none;
}


@media screen and (max-width: 550px) {
  .group-btn-icon{
    display: none;
  }
  .log-btn{
    display: none;
  }
  .responsive-log-btn{
    display: flex;
  }
}

