@import 'src/styles/vars';

.MuiPaper-root.MuiAppBar-root.MuiAppBar-colorPrimary {
  background-color: $color-primary;
}

.styled.button {

  background: $gradient-orange-violin;
  color: white;
  &:hover {
    background-color: $color-background;
}
}

.MuiToolbar-root .MuiSvgIcon-root{
  color: white;
}
