@import 'src/styles/vars';


.MuiPaper-root.MuiAppBar-root.MuiAppBar-colorPrimary {
  background-color: $color-primary;
}

.styled.button {

  background: local;
  color: white;
  &:hover {
    background-color: $color-background;
}
}

.MuiToolbar-root .MuiSvgIcon-root{
  color: white;
}

.MuiAppBar-root{
  background-color: #F50057;
}

.group-btn-icon{
  display: flex;
  align-items: center;
}

.responsive-log-btn{
  display: none;
}


@media screen and (max-width: 550px) {
  .group-btn-icon{
    display: none;
  }
  .log-btn{
    display: none;
  }
  .responsive-log-btn{
    display: flex;
  }
}

