.postcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5rem 0 8rem;
  margin-top: 5rem;

  .MuiPostCard--02 {
    display: flex;
    width: 95%;
    flex-direction: row;
    padding: 16px 0;
    overflow: initial;
    position: relative;
    max-width: 700px;
    background: #ffffff;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.12);
    transition: 0.3s;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 3rem;


    &:hover {
      transform: translateY(-3px);

      box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    }
  }

  .MuiCardMedia-root {
    width: 80%;
      overflow: hidden;
      position: relative;
      max-width: 256px;
      box-shadow: 4px 4px 20px 1px rgba(90, 61, 61, 0.2);
      margin-top: -16%;
      flex-shrink: 0;
      padding-top: 48%;
      border-radius: 16px;
      background-size: contain;
      background-color: #fff;
      //-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 40%;
      margin-top: 0;
      margin-left: -8%;
      background-size: cover;

    &:after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      opacity: 0.5;
      position: absolute;
      border-radius: 16px;
      //background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    }
  }

  .MuiCardContent-root {
    text-align: left;
    padding: 16px;
    padding-left: 24px;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .MuiTypography-root {

    &.MuiTypography--heading {
      font-weight: bold;
    }

    &.MuiTypography--subheading {

      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.00938em;

    }

  }

  .MuiButton--readMore {
    color: #ffffff;
    //box-shadow: 0px 4px 32px rgba(252, 56, 56, 0.4);
    padding-left: 24px;
    border-radius: 100px;
    padding-right: 24px;
    background-color: #3A5892;
    //background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 6px 10px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
    align-self: flex-end;
    margin-top: -1rem;

    &:hover{
      background-color: #E04644;
    }
  }
  .list-techno{
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: disc;
    padding: 0.5rem 3rem;

    li{
      width: 50%;
    }
  }

  .group-links{
    display: flex;
    flex-direction: row;
    //bottom: 2rem;
    //position: absolute;
}

  .social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    margin-top: 1rem;

  }

}

@media screen and (max-width: 1672px){

  .postcards {
    .MuiPostCard--02 {
      margin-right: 2.5rem;
    }
  }

}

@media screen and (max-width: 900px) {
  .postcards {
    padding: 0;
    .MuiPostCard--02 {
      margin: auto;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;


    }

    .MuiCardMedia-root{
      width: 90%;
      margin: auto;
      max-width: unset;
    }

    .MuiCardContent-root {
      padding: 24px;
      height: unset;
      max-height: unset;

    }
    .MuiCardContent-root:last-child {
      padding-bottom: 0px;
    }
    .MuiButton--readMore{
      margin-top: 0;
      margin-right: 1rem;
    }


    .MuiTypography--date,
    .MuiTypography--heading,
    .MuiTypography--subheading{
      margin-left: 1rem;
    }


    .group-links{
      justify-content: center;
    }

  }

}

@media screen and (max-width: 600px){

.postcards{

  .MuiTypography--date, .MuiTypography--heading, .MuiTypography--subheading {
      width: 95%;
      margin: .2rem;
  }

  .MuiButton--readMore{
    margin: 1rem auto 1rem auto;
    font-size: .8em;

  }

  .group-links{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
  }

  .social-links{
    margin: 0;
  }

  .list-techno{

    li{
      width: 100%;
    }
  }
}
}
