.note-plus {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 1em;
  border-radius: 50%;
  transition: background-color 0.8s ease;
  background-color: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.tab-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .notes-card--plus{
    width: 15rem;
    height: 17rem;
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding: 0;
    justify-content: center;
    align-items: center;


    &:hover {
      cursor: pointer;
    }

  }

  .notes-infos{
    width: 15rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding: 0;

    .button-delete{
      top:unset;
      left: 12rem;
      color: #a8a8a8;
      width: fit-content;
      text-align: right;

      &:hover{
        color: #f50057;
      }
    }
  }

  .note-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      padding: 1rem 1rem .5rem 1rem;
  }

  .notes-infos-title{
      font-size: 1.3rem;
  }

  .note-body{
      height: 70%;
      overflow-x: auto;
      padding:  0 1rem 1rem 1rem;
  }

  .note-cat {
    font-style: italic;
    font-size: .8em;
    margin-right: 1rem;
    text-align: right;
    display: inline-block;
  }

  .note-body::-webkit-scrollbar {
      width: 0;
  }

}

.li {
  &-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .8rem;
    display: block;
  }
  &-content{
    font-style: italic;
    display: block;
  }
}
