.profil{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.profil-title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.profil .MuiTypography-root{
    height: 100%;
}

.profil .MuiSvgIcon-root{
    color: white;
}

.infos-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 300px;
}

.infos-content{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.infos-container h5{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.sub-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.sub-container-content{
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    flex-wrap: wrap;
}


.MuiTab-wrapper {
    align-items: flex-start !important;
}


.category-content{
    width: 100%;
}

.card-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 5rem;
}

.card-header{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}

.card-header-left{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.card-header-left h3{
    margin-left: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.card-header-right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.group-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group-label{
    margin-bottom: 1rem ;
}

.left-edit-profil{
    width: 45%;
}

.left-edit-profil .MuiFormControl-root{
    margin-bottom: 1rem;
}


.right-edit-profil{
    width: 45%;
}

.right-edit-profil .MuiFormControl-root{
    margin-bottom: 1rem;
}

.add-infos-sup-container{
    display: flex;
    flex-direction: row;
}

.add-infos-sup-separator{
    margin: 0 1rem;
    display: flex;
    align-items: flex-end;
}


@media screen and (max-width: 600px) {
    .MuiDialogContent-root{
        flex-direction: column !important;
    }
    .left-edit-profil{
        width: 100%;
    }
    .right-edit-profil{
        width: 100%;
    }
    .MuiFormControl-root{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .group-input .MuiFormControl-root{
        width: 100%;
    }
  }


