.profil{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    height: 90vh;
}

.profil-title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.profil .MuiTypography-root{
    height: 100%;
}

.profil .MuiSvgIcon-root{
    color: white;
}

.infos-container{
    display: flex;
    flex-direction: row;
    max-height: 300px;
    .left{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .right{
        width: 50%;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
    }
}

.infos-content{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.infos-container h5{
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: grey;
}
.sub-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid rgba(grey, $alpha:0.3);

}

.sub-container-content{
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    flex-wrap: wrap;
}



.MuiTab-wrapper {
    align-items: flex-start !important;
}


.category-content{
    width: 100%;
}

.card-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin:5rem;
}

.card-header{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}

.card-header-left{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-header-left h3{
    margin-left: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.card-header-right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    .MuiSvgIcon-root{
        color: #39CA97 !important;
    }
}

.group-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group-label{
    margin-bottom: 1rem ;
}

.left-edit-profil{
    width: 45%;
}

.left-edit-profil .MuiFormControl-root{
    margin-bottom: 1rem;
}


.right-edit-profil{
    width: 45%;
}

.right-edit-profil .MuiFormControl-root{
    margin-bottom: 1rem;
}

.add-infos-sup-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.add-infos-sup-container .hidden{
    display: none;
}

.add-infos-sup-separator{
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

.MuiTab-wrapper{
    flex-direction: row !important;
    justify-content: flex-start !important;
}

.profil .MuiSvgIcon-root{
    color: black;
}

.jade-round{
    background-color: #39CA97;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.MuiTabs-flexContainer{
    padding-left: 2rem;
    width: 25rem;
    .MuiButtonBase-root{
        padding: 0;
    }
}

.MuiTabs-root{
    background-color: #39CA97;
    color: white;
    padding-top: 8rem;
    padding-left: 3rem;
    .MuiSvgIcon-root{
        color: white;
        margin-right: 1rem;
        }
}

.makeStyles-root-235{
    margin: 0 !important;
}

.PrivateTabIndicator-root-260{
    left:0 !important;
}

@media screen and (max-width: 600px) {
    .MuiDialogContent-root{
        flex-direction: column !important;
    }
    .left-edit-profil{
        width: 100%;
    }
    .right-edit-profil{
        width: 100%;
    }
    .MuiFormControl-root{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .group-input .MuiFormControl-root{
        width: 100%;
    }
  }


