.app {
  display: flex;
  background-color: #1B4353;
  min-height: 100vh;
  color: white;
}

@media screen and (max-width: 900px) {
  .MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
    width: 100vw;
    background-color: #001B2E;
  }
}

