@import 'src/styles/vars';

.app {
  display: flex;
  background-color: $color-background;
  min-height: 100vh;
  color: white;
  overflow-y: hidden;

}

body{
  font-family: 'Varela Round', sans-serif;
}



