@import 'src/styles/vars';

.app {
  display: flex;
  background-color: $color-white;

  min-height: 100vh;
  color: $color-dark;
  overflow-y: hidden;
  font-family: 'Varela Round', sans-serif;

}

body{
  font-family: 'Varela Round', sans-serif;
}



