

.document-page{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    padding: 1rem 5rem 5rem 5rem;
    font-family: 'Varela Round', sans-serif;
}

.document-page-title{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 4rem;
}

.header-document-page{
    margin-bottom: 4rem;
}

.doc-title{
    text-align: center;
    margin-top: 1rem;
}

.documents-container{
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.single-document-container{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-bottom: 6rem;
    transition: all 0.3s;
    &:hover{
        transform: translateY(-3px);
    }
    p{
        text-align: center;
        margin-top: 0.5rem;
    }
}



.img-folder{
    width: 6rem;
    cursor: pointer;
}