
    <%- include('partials/header') %>
   
    <div>
      <% for( let user of users) { %>
        <p><%=user.first_name%> <%=user.last_name%></p> 
      <% } %>
    </div>    
        
    <%- include('partials/footer') %>