

$color-primary: rgb(48, 180, 134);
$color-primary-light: rgb(245, 0, 87);
$color-secondary: lightcoral;
$color-secondary-light: #f9e3e5;
$color-white: #FBFEF9;
$color-background: #1B4353;
$color-dark: #1B4353;
$color-hover: rgba(185, 185, 185, 0.3);

$gradient-orange-violin: linear-gradient( 136deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%);
