

$color-primary: #3A5892;
$color-primary-light: rgb(245, 0, 87);
$color-secondary: coral;
$color-secondary-light: #f9e3e5;
$color-white: white;
$color-background: #1B4353;
$color-dark: #1B4353;
$color-hover: rgba(185, 185, 185, 0.3);

$color-background-menu: #212121;
$color-background-menu-hover: #383838;


$gradient-orange-violin: linear-gradient( 136deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%);
