@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
}

.app .MuiButton-containedPrimary {
  background-color: #0F4C81;
  &:hover {
    background-color:#1B4353 ;
  }
}

.app .MuiButton-textSecondary{
  color: #8B2635 ;
}

.app .MuiButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
}

.app .MuiButtonBase-root.Mui-disabled {
  cursor: default;
  pointer-events: none;
}

/*
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
