@import 'src/styles/vars';

.infos-page-container{
    width: 100%;
    margin: 8rem 0;
    display: flex;
    flex-direction: column;

}

.example-container div {
    background: red;
    border-radius: 30px;
    width: 150px;
    height: 150px;
  }

  .h1{
    font-size: 2.5rem;
    margin-bottom: -3rem;
    padding: 1rem 2rem;
    margin-left: -2rem;
    width: fit-content;
    z-index: 2;
    background-color: $color-dark;
    color: $color-white;
    -webkit-box-shadow: 0px 0px 15px -5px $color-dark;
    -moz-box-shadow: 0px 0px 15px -5px $color-dark;
    box-shadow: 0px 0px 15px -5px $color-dark;
  }


.infos-header{
    display: flex;
    margin-bottom: 20rem;
    flex-direction: column;
    padding: 0 10rem;
    h1{
        font-size: 2.5rem;
        margin-bottom: -3rem;
        padding: 1rem 2rem;
        margin-left: -2rem;
        width: fit-content;
        z-index: 2;
        background-color: $color-dark;
        color: $color-white;
        -webkit-box-shadow: 0px 0px 15px -5px $color-dark;
        -moz-box-shadow: 0px 0px 15px -5px $color-dark;
        box-shadow: 0px 0px 15px -5px $color-dark;
        
    }
    p{
        font-size: 1.1rem;
        margin-bottom: 1rem;
        line-height: 2.5rem;
        margin-left: 5rem;
        padding: 3rem;
        padding-top: 4rem;
        text-align: justify;
        -webkit-box-shadow: 0px 0px 15px -5px lightgrey;
        -moz-box-shadow: 0px 0px 15px -5px lightgrey;
        box-shadow: 0px 0px 15px -5px lightgrey;
        strong{
            color: $color-secondary;
        }
        em{
            color: $color-primary;
        }
    }
}

.infos-body{
    padding: 5rem 10rem;
    display: flex;
    margin-top: 15rem;
    flex-direction: column;
    background-color: rgba(219, 219, 219, 0.1);
    width: 100%;
    height: 150vh;
}

.h2{
    background-color: $color-dark;
    width: fit-content;
    color: $color-white;
    z-index: 2;
    margin-left: -5rem;
    margin-bottom: -2rem;
    font-size: 1.8rem;
    padding: 1.5rem;
    -webkit-box-shadow: 0px 0px 15px -5px $color-dark;
    -moz-box-shadow: 0px 0px 15px -5px $color-dark;
    box-shadow: 0px 0px 15px -5px $color-dark;
}

.p{
    text-align: justify;
    font-size: 1.1rem;
    -webkit-box-shadow: 0px 0px 15px -5px lightgrey;
    -moz-box-shadow: 0px 0px 15px -5px lightgrey;
    box-shadow: 0px 0px 15px -5px lightgrey;
    padding: 3rem 2rem;
}

.infos-letter-type-container{
    height: 75vh;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    img{
        width: 10rem;
    }
}


.infos-checklists-container{
    height: 75vh;
    background-color: rgba(219, 219, 219, 0.3);
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    
    width: 100%;
    
    .infos-checklists{
        display: flex;
        flex-direction: column;
        width: 60%;
        h2{
            background-color: $color-dark;
            width: fit-content;
            color: $color-white;
            z-index: 2;
            margin-left: -5rem;
            margin-bottom: -2rem;
            font-size: 1.8rem;
            padding: 1.5rem;
            -webkit-box-shadow: 0px 0px 15px -5px $color-dark;
            -moz-box-shadow: 0px 0px 15px -5px $color-dark;
            box-shadow: 0px 0px 15px -5px $color-dark;
        }
        p{
            text-align: justify;
            font-size: 1.1rem;
            -webkit-box-shadow: 0px 0px 15px -5px lightgrey;
            -moz-box-shadow: 0px 0px 15px -5px lightgrey;
            box-shadow: 0px 0px 15px -5px lightgrey;
            padding: 3rem 2rem;
        }
    }
    .checklist-example{
        margin-left: 10rem;
        box-shadow: 0 0 15px -5px lightgrey;
    }
}

.infos-letter-type{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 30%;
    align-items: flex-end;
    h2{
        background-color: $color-dark;
        color: $color-white;
        margin-right: -5rem;
        margin-bottom: -2rem;
        z-index: 2;
        width: fit-content;
        padding: 1.5rem;
        font-size: 1.8rem;
        -webkit-box-shadow: 0px 0px 15px -5px $color-dark;
        -moz-box-shadow: 0px 0px 15px -5px $color-dark;
        box-shadow: 0px 0px 15px -5px $color-dark;
    }
    p{
        text-align: justify;
        font-size: 1.1rem;
        -webkit-box-shadow: 0px 0px 15px -5px lightgrey;
        -moz-box-shadow: 0px 0px 15px -5px lightgrey;
        box-shadow: 0px 0px 15px -5px lightgrey;
        padding: 3rem 2rem;
    }
}

.notes-infos{
    width: 15rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
}

.note-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
}

.notes-infos-title{
    font-size: 1.3rem;
}

.note-body{
    height: 70%;
    overflow-x: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.note-body::-webkit-scrollbar {
    width: 0;
  }

  .btn{
      padding: 2rem 4rem;
      font-size: 2rem;
      background-color: coral;
      color: white;
      border: 3px solid $color-secondary;
      border-radius: 10px;
  }

  .infos-footer{
      height: 100vh;
      display: flex;
      align-items: center;
  }

  .infos-team-container{
    height: 50vh;
    align-items: center;
    display: flex; 
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .checklist-title{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    padding: 1rem 0;
    background-color: #F50057;
    color: white;
}