.MuiPaper-root.MuiStepper-root {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 0;
    padding-top: 4rem;

}
.MuiStepLabel-label.MuiStepLabel-completed {
    color: black;
}
.MuiStepLabel-label.MuiStepLabel-active {
    color: black;
}
.MuiStepLabel-label {
  color: grey;
}

.form-inscription{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 2rem;
  border-radius:  0 0 10px 10px;


  .MuiFormGroup-root {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &--button{
    &--prev-next {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0 20%;
      margin-top: 2rem;
    }
  }




  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 2rem 2rem;


    &--gender {
      margin-bottom: 15px;
    }

    &--label {
      margin-top: 1em;
      color: #0F4C81;
    }

    .MuiFormControl-root,
    .MuiFormLabel-root {
      margin-bottom: 15px;
    }

  }
}

.group-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  .MuiTextField-root {
    width: 48%;
    //min-width: 250px;
    margin-bottom: 15px;
  }

  &--password {
    .MuiFormControl-root {
      width: 100%;
      margin-bottom: 15px;
    }
  }

}


@media screen and (max-width: 700px) {
  .MuiStepLabel-iconContainer::first-child {
    height: 30px;
    width: 30px;
  }
  .MuiPaper-root.MuiStepper-root {
    width: 100%;
  }
  .MuiPaper-root.MuiStepper-root{
    padding: 4rem 0 4rem 0;
  }

  .group-input {
    display: flex;
    flex-direction: column;

    .MuiTextField-root {
      width: 100%;
      //min-width: 250px;
      margin-bottom: 15px;
    }
  }

}

@media screen and (max-width: 385px){
  .MuiPaper-root.MuiStepper-root {

      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .MuiStep-horizontal {

    padding-bottom: 10px;
  }
  .WithStyles\(ForwardRef\(StepConnector\)\)-alternativeLabel-252 {
    top: 22px;
    display: none;
  }
}
