<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Reset CSS -->
        <link href="/css/reset.css"  rel="stylesheet">

        <!-- Really beautiful CSS -->
        <link href="/css/style.css"  rel="stylesheet">

        <title>O'Quiz</title>
    </head>
    