
.tab-container{
    display: flex;
    justify-content: center;
    color: #1B4353;
}



.MuiBox-root{
    width:100%;
}

.tab-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.checklist-title{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    padding: 1rem 0;
    background-color: #F50057;
    color: white;
}

.panel-note {
  .tab-content{
    align-items: center;
    justify-content: flex-start;

    .MuiIconButton-root{
      color: unset;
      top: -16px;
      right: -16px;
    }
  }
}

.page-title{
    font-size: 2rem;
}

.cards-infos {
    width: 15rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



.notification-title {
    display: flex;

    padding: 1rem;
}

.cards-infos-title{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: #1976D2;
    color: white;
}

.MuiFormGroup-root{
    padding: 1rem;
}

.MuiPaper-root ul {
    padding: 1rem;
}



.cards-infos-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cards-infos-footer .MuiSvgIcon-root{
    color: grey;
}



.card-label{
    background-color: rgb(165, 32, 32);
    color: white;
    padding: 0.5rem;
    text-align: center;
    width:5rem;
    border-radius: 5px;
}

.card-media {
    height: 240px;
  }

.root-card-article{
    width: 20rem;
    margin-bottom: 1rem;

}



.tab-panel {
  margin: 4rem 0;
  max-width: unset;
  width: 100%;
}
